.main-container {
    text-align: center;
    margin: 120px;
    height: auto;
}

.speech-training-config {
    width: 65%;
    margin-top: 60px;
    margin-bottom: 14px;

}

.speech-training-config .ant-input-number {
    width: 75px;
}

.command-render {
    min-height: 430px;
    border: 1px solid gray;
    padding: 24px;
    margin-top: 24px;
    text-align: initial;
}